[submodule "Frameworks/UICKeyChainStore"]
	path = Frameworks/UICKeyChainStore
	url = https://github.com/kishikawakatsumi/UICKeyChainStore.git
[submodule "Frameworks/MBProgressHUD"]
	path = Frameworks/MBProgressHUD
	url = https://github.com/blinksh/MBProgressHUD.git
[submodule "Frameworks/PasscodeLock"]
	path = Frameworks/PasscodeLock
	url = https://github.com/blinksh/SwiftPasscodeLock.git
