[submodule "Frameworks/UICKeyChainStore"]
	path = Frameworks/UICKeyChainStore
	url = https://github.com/kishikawakatsumi/UICKeyChainStore.git
[submodule "Frameworks/MBProgressHUD"]
	path = Frameworks/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "Frameworks/PasscodeLock"]
	path = Frameworks/PasscodeLock
	url = https://github.com/blinksh/SwiftPasscodeLock.git
[submodule "Frameworks/ios_system"]
	path = Frameworks/ios_system
	url = git@github.com:holzschu/ios_system.git
[submodule "Frameworks/network_ios"]
	path = Frameworks/network_ios
	url = git@github.com:holzschu/network_ios.git
