*~
#*#
.DS_Store

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## libs
Frameworks/include/*
Frameworks/lib/*

## Precompiled frameworks
Frameworks/libmoshios.framework
Frameworks/libssh2.framework
Frameworks/openssl.framework

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# make and build files
*.lst
*.eep
*.o
*.lo
*.la
*.dylib
*.lss
*.map
*.sym

## Fonts
Resources/Fonts/PragmataPro*
