//
//  template_setup.xcconfig
//     --> copied to developer_setup.xcconfig
//
//  Created by Jan Iversen on 20/03/2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// update TEAM_ID with your apple developer id
TEAM_ID = A2H2CL32AG

// BUNDLE_ID is used as name for BUNDLE_IDENTIFIER
BUNDLE_ID = sh.blink.blinkshell
GROUP_ID  = sh.blink

// CLOUD_ID is used as name for iCloud (prefix icloud. is added)
CLOUD_ID = sh.blink.blinkshell
// if you want to build without iCloud, please remove the section in xCode

// KEYCHAIN_ID is used as name for keychain
KEYCHAIN_ID1 = sh.blink
//KEYCHAIN_ID2 = Com.CarlosCabanero.BlinkShell
// if you want to build without keychain, please remove the section in xCode


// BLINK_PUBLISHING_OPTION_DEVELOPER
// BLINK_PUBLISHING_OPTION_TESTFLIGHT
// BLINK_PUBLISHING_OPTION_APPSTORE

SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Debug]   = BLINK_PUBLISHING_OPTION_DEVELOPER
SWIFT_ACTIVE_COMPILATION_CONDITIONS[config=Release] = BLINK_PUBLISHING_OPTION_TESTFLIGHT

