<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.locate</string>
	<key>Disabled</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/locate.updatedb</string>
	</array>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>5</integer>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/var/db/locate.database</key>
			<false/>
		</dict>
	</dict>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>3</integer>
		<key>Minute</key>
		<integer>15</integer>
		<key>Weekday</key>
		<integer>6</integer>
	</dict>
	<key>AbandonProcessGroup</key>
	<true/>
</dict>
</plist>
