#include "base.xcconfig"

EE_PREFIX = /usr/local
//EE_PREFIX[sdk=macosx*] = /usr

// Deployment
INSTALL_PATH = $(EE_PREFIX)/bin

// Linking
OTHER_LDFLAGS = -lncurses

// Packaging
PRODUCT_NAME = ee

// Preprocessing
GCC_PREPROCESSOR_DEFINITIONS = HAS_NCURSES HAS_UNISTD HAS_STDARG HAS_STDLIB HAS_SYS_WAIT NO_CATGETS

// Warnings - All languages
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = NO
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = NO
GCC_WARN_SHADOW = NO
GCC_WARN_SIGN_COMPARE = NO
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_UNUSED_PARAMETER = NO
