<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ssh</key>
	<array>
		<string>MAIN</string>
		<string>ssh_main</string>
		<string>axR:L:Vo:CGp:i:hqTtvl:F:</string>
		<string>no</string>
	</array>
  <key>ssh-add</key>
  <array>
    <string>MAIN</string>
    <string>ssh_add_main</string>
    <string>axR:L:Vo:CGp:i:hqTtvl:F:</string>
    <string>no</string>
  </array>
  <key>ssh-agent</key>
  <array>
    <string>MAIN</string>
    <string>ssh_agent_main</string>
    <string>axR:L:Vo:CGp:i:hqTtvl:F:</string>
    <string>no</string>
  </array>
  <key>help</key>
  <array>
    <string>MAIN</string>
    <string>help_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>config</key>
  <array>
    <string>MAIN</string>
    <string>config_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>music</key>
  <array>
    <string>MAIN</string>
    <string>music_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>clear</key>
  <array>
    <string>MAIN</string>
    <string>clear_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>showkey</key>
  <array>
    <string>MAIN</string>
    <string>showkey_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>history</key>
  <array>
    <string>MAIN</string>
    <string>history_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>geo</key>
  <array>
    <string>MAIN</string>
    <string>geo_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>bench</key>
  <array>
    <string>MAIN</string>
    <string>bench_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>open</key>
  <array>
    <string>MAIN</string>
    <string>open_main</string>
    <string></string>
    <string>file</string>
  </array>
  <key>link-files</key>
  <array>
    <string>MAIN</string>
    <string>link_files_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>udptunnel</key>
  <array>
    <string>MAIN</string>
    <string>udptunnel_main</string>
    <string></string>
    <string>no</string>
  </array>
  <key>say</key>
  <array>
    <string>MAIN</string>
    <string>say_main</string>
    <string>f:v:r:</string>
    <string>no</string>
  </array>
  <key>openurl</key>
  <array>
    <string>MAIN</string>
    <string>blink_openurl_main</string>
    <string></string>
    <string>no</string>
  </array>
</dict>
</plist>
