<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awk</key>
	<array>
		<string>awk.framework/awk</string>
		<string>awk_main</string>
		<string>dhiflM:N:nsuw</string>
		<string>file</string>
	</array>
	<key>cat</key>
	<array>
		<string>text.framework/text</string>
		<string>cat_main</string>
		<string>benstuv</string>
		<string>file</string>
	</array>
	<key>cd</key>
	<array>
		<string>SELF</string>
		<string>cd_main</string>
		<string></string>
		<string>directory</string>
	</array>
	<key>chflags</key>
	<array>
		<string>files.framework/files</string>
		<string>chflags_main</string>
		<string>HLPRfhv</string>
		<string>file</string>
	</array>
	<key>chksum</key>
	<array>
		<string>files.framework/files</string>
		<string>chksum_main</string>
		<string>o:</string>
		<string>file</string>
	</array>
	<key>compress</key>
	<array>
		<string>files.framework/files</string>
		<string>compress_main</string>
		<string>b:cdfv</string>
		<string>file</string>
	</array>
	<key>cp</key>
	<array>
		<string>files.framework/files</string>
		<string>cp_main</string>
		<string>cHLPRXafinprv</string>
		<string>file</string>
	</array>
	<key>ctags</key>
	<array>
		<string>libctags.dylib</string>
		<string>ctags_main</string>
		<string>aBeFGnNoRvVx:b:d:D:f:h:I:L:</string>
		<string>file</string>
	</array>
	<key>curl</key>
	<array>
		<string>curl_ios.framework/curl_ios</string>
		<string>curl_main</string>
		<string>2346aAbBcCdDeEfgGhHiIjJkKlLmMnNoOpPqQrRsStTuUvVwxXYyz#</string>
		<string>file</string>
	</array>
	<key>date</key>
	<array>
		<string>shell.framework/shell</string>
		<string>date_main</string>
		<string>d:f:jnRr:t:uv:</string>
		<string>no</string>
	</array>
	<key>dig</key>
	<array>
		<string>network_ios.framework/network_ios</string>
		<string>dig_main</string>
		<string></string>
		<string>no</string>
	</array>
	<key>du</key>
	<array>
		<string>files.framework/files</string>
		<string>du_main</string>
		<string>HI:LPasd:cghkmrx</string>
		<string>file</string>
	</array>
	<key>echo</key>
	<array>
		<string>shell.framework/shell</string>
		<string>echo_main</string>
		<string>n</string>
		<string>no</string>
	</array>
	<key>egrep</key>
	<array>
		<string>text.framework/text</string>
		<string>grep_main</string>
		<string>0123456789A:B:C:D:EFGHIJMLOPSRUVZabcd:e:f:hilm:nopqrsuvwxXy</string>
		<string>file</string>
	</array>
	<key>env</key>
	<array>
		<string>shell.framework/shell</string>
		<string>env_main</string>
		<string>-iP:S:u:v</string>
		<string>no</string>
	</array>
	<key>fgrep</key>
	<array>
		<string>text.framework/text</string>
		<string>grep_main</string>
		<string>0123456789A:B:C:D:EFGHIJMLOPSRUVZabcd:e:f:hilm:nopqrsuvwxXy</string>
		<string>file</string>
	</array>
	<key>grep</key>
	<array>
		<string>text.framework/text</string>
		<string>grep_main</string>
		<string>0123456789A:B:C:D:EFGHIJMLOPSRUVZabcd:e:f:hilm:nopqrsuvwxXy</string>
		<string>file</string>
	</array>
	<key>gunzip</key>
	<array>
		<string>files.framework/files</string>
		<string>gzip_main</string>
		<string>123456789acdfhklLNnqrS:tVv</string>
		<string>file</string>
	</array>
	<key>gzip</key>
	<array>
		<string>files.framework/files</string>
		<string>gzip_main</string>
		<string>123456789acdfhklLNnqrS:tVv</string>
		<string>file</string>
	</array>
	<key>host</key>
	<array>
		<string>network_ios.framework/network_ios</string>
		<string>host_main</string>
		<string>46ac:dilnm:rst:vVwCDN:R:TW:</string>
		<string>no</string>
	</array>
	<key>link</key>
	<array>
		<string>files.framework/files</string>
		<string>ln_main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>ln</key>
	<array>
		<string>files.framework/files</string>
		<string>ln_main</string>
		<string>Ffhinsv</string>
		<string>file</string>
	</array>
	<key>ls</key>
	<array>
		<string>files.framework/files</string>
		<string>ls_main</string>
		<string>1@ABCFGHLOPRSTUWabcdefghiklmnopqrstuvwx</string>
		<string>file</string>
	</array>
	<key>mkdir</key>
	<array>
		<string>files.framework/files</string>
		<string>mkdir_main</string>
		<string>m:pv</string>
		<string>directory</string>
	</array>
	<key>mv</key>
	<array>
		<string>files.framework/files</string>
		<string>mv_main</string>
		<string>finv</string>
		<string>file</string>
	</array>
	<key>nc</key>
	<array>
		<string>network_ios.framework/network_ios</string>
		<string>netcat_main</string>
		<string>46AacDCb:dEhi:jFG:H:I:J:K:L:klMnN:Oop:rSs:T:tUuvw:X:x:z</string>
		<string>no</string>
	</array>
	<key>nslookup</key>
	<array>
		<string>network_ios.framework/network_ios</string>
		<string>nslookup_main</string>
		<string></string>
		<string>no</string>
	</array>
	<key>ping</key>
	<array>
		<string>network_ios.framework/network_ios</string>
		<string>ping_main</string>
		<string>AaB:b:Cc:DdfG:g:h:I:i:k:K:Ll:M:m:noP:p:QqRrS:s:T:t:vW:z:</string>
		<string>no</string>
	</array>
	<key>printenv</key>
	<array>
		<string>shell.framework/shell</string>
		<string>printenv_main</string>
		<string></string>
		<string>no</string>
	</array>
	<key>pwd</key>
	<array>
		<string>shell.framework/shell</string>
		<string>pwd_main</string>
		<string>LP</string>
		<string>no</string>
	</array>
	<key>readlink</key>
	<array>
		<string>files.framework/files</string>
		<string>stat_main</string>
		<string>n</string>
		<string>file</string>
	</array>
	<key>readtags</key>
	<array>
		<string>libctags.dylib</string>
		<string>readtags_main</string>
		<string>aBeFGnNoRvVx:b:d:D:f:h:I:L:</string>
		<string>file</string>
	</array>
	<key>rlogin</key>
	<array>
		<string>network_ios.framework/network_ios</string>
		<string>rlogin_main</string>
		<string>468EKLNS:X:acde:fFk:l:n:rs:uxy</string>
		<string>no</string>
	</array>
	<key>rm</key>
	<array>
		<string>files.framework/files</string>
		<string>rm_main</string>
		<string>dfiPRrvW</string>
		<string>file</string>
	</array>
	<key>rmdir</key>
	<array>
		<string>files.framework/files</string>
		<string>rmdir_main</string>
		<string>p</string>
		<string>directory</string>
	</array>
	<key>scp</key>
	<array>
		<string>curl_ios.framework/curl_ios</string>
		<string>curl_main</string>
		<string>q</string>
		<string>file</string>
	</array>
	<key>sed</key>
	<array>
		<string>text.framework/text</string>
		<string>sed_main</string>
		<string>Eae:f:i:ln</string>
		<string>file</string>
	</array>
	<key>setenv</key>
	<array>
		<string>shell.framework/shell</string>
		<string>setenv_main</string>
		<string></string>
		<string>no</string>
	</array>
	<key>sftp</key>
	<array>
		<string>curl_ios.framework/curl_ios</string>
		<string>curl_main</string>
		<string>q</string>
		<string>file</string>
	</array>
	<key>ssh</key>
	<array>
		<string>ssh_cmd.framework/ssh_cmd</string>
		<string>ssh_main</string>
		<string>q</string>
		<string></string>
	</array>
	<key>ssh-keygen</key>
	<array>
		<string>ssh_cmd.framework/ssh_cmd</string>
		<string>sshkeygen_main</string>
		<string>ABHLQXceghiklopquvxyC:D:E:F:G:I:J:K:M:N:O:P:R:S:T:V:W:Z:a:b:f:g:j:m:n:r:s:t:z:</string>
		<string>file</string>
	</array>
	<key>stat</key>
	<array>
		<string>files.framework/files</string>
		<string>stat_main</string>
		<string>f:FlLnqrst:x</string>
		<string>file</string>
	</array>
	<key>sum</key>
	<array>
		<string>files.framework/files</string>
		<string>chksum_main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>tar</key>
	<array>
		<string>tar.framework/tar</string>
		<string>tar_main</string>
		<string>Bb:C:cf:HhI:JjkLlmnOoPpqrSs:T:tUuvW:wX:xyZz</string>
		<string>file</string>
	</array>
	<key>tee</key>
	<array>
		<string>shell.framework/shell</string>
		<string>tee_main</string>
		<string>ai</string>
		<string>file</string>
	</array>
	<key>telnet</key>
	<array>
		<string>network_ios.framework/network_ios</string>
		<string>telnet_main</string>
		<string>468EKLNS:X:acde:fFk:l:n:rs:uxy</string>
		<string>no</string>
	</array>
	<key>touch</key>
	<array>
		<string>files.framework/files</string>
		<string>touch_main</string>
		<string>A:acfhmr:t:</string>
		<string>file</string>
	</array>
	<key>tr</key>
	<array>
		<string>text.framework/text</string>
		<string>tr_main</string>
		<string>Ccdsu</string>
		<string>no</string>
	</array>
	<key>uname</key>
	<array>
		<string>shell.framework/shell</string>
		<string>uname_main</string>
		<string>amnprsv</string>
		<string>no</string>
	</array>
	<key>uncompress</key>
	<array>
		<string>files.framework/files</string>
		<string>compress_main</string>
		<string>b:cdfv</string>
		<string>file</string>
	</array>
	<key>unlink</key>
	<array>
		<string>files.framework/files</string>
		<string>rm_main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>unsetenv</key>
	<array>
		<string>shell.framework/shell</string>
		<string>unsetenv_main</string>
		<string></string>
		<string>no</string>
	</array>
	<key>uptime</key>
	<array>
		<string>shell.framework/shell</string>
		<string>w_main</string>
		<string></string>
		<string>no</string>
	</array>
	<key>wc</key>
	<array>
		<string>text.framework/text</string>
		<string>wc_main</string>
		<string>dhiflM:N:nsuw</string>
		<string>file</string>
	</array>
	<key>whoami</key>
	<array>
		<string>shell.framework/shell</string>
		<string>id_main</string>
		<string></string>
		<string>no</string>
	</array>
</dict>
</plist>
