<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>amstex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>bibtex</key>
	<array>
		<string>libbibtex.dylib</string>
		<string>bibtex_main</string>
		<string></string>
		<string>file</string>
	</array>
	<key>chgrp</key>
	<array>
		<string>files.framework/files</string>
		<string>chown_main</string>
		<string>HLPRfhv</string>
		<string>file</string>
	</array>
	<key>chmod</key>
	<array>
		<string>files.framework/files</string>
		<string>chmod_main</string>
		<string>ACEHILNPRVXafghinorstuvwx</string>
		<string>file</string>
	</array>
	<key>chown</key>
	<array>
		<string>files.framework/files</string>
		<string>chown_main</string>
		<string>HLPRfhv</string>
		<string>file</string>
	</array>
	<key>cslatex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>csplain</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>df</key>
	<array>
		<string>files.framework/files</string>
		<string>df_main</string>
		<string>abgHhiklmnPtT:</string>
		<string>file</string>
	</array>
	<key>dvilualatex</key>
	<array>
		<string>libluatex.dylib</string>
		<string>dllluatexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>dviluatex</key>
	<array>
		<string>libluatex.dylib</string>
		<string>dllluatexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>eplain</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>etex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>groups</key>
	<array>
		<string>shell.framework/shell</string>
		<string>id_main</string>
		<string></string>
		<string>no</string>
	</array>
	<key>id</key>
	<array>
		<string>shell.framework/shell</string>
		<string>id_main</string>
		<string>AFPGMagnpru</string>
		<string>no</string>
	</array>
	<key>jadetex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>latex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>lua</key>
	<array>
		<string>lua_ios.framework/lua_ios</string>
		<string>lua_main</string>
		<string>e:il:vE</string>
		<string>file</string>
	</array>
	<key>luac</key>
	<array>
		<string>lua_ios.framework/lua_ios</string>
		<string>luac_main</string>
		<string>lpsvo:</string>
		<string>file</string>
	</array>
	<key>lualatex</key>
	<array>
		<string>libluatex.dylib</string>
		<string>dllluatexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>luatex</key>
	<array>
		<string>libluatex.dylib</string>
		<string>dllluatexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>mex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>mllatex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>mltex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfcslatex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfcsplain</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfetex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfjadetex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdflatex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfmex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdftex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>pdfxmltex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>python</key>
	<array>
		<string>Python_ios.framework/Python_ios</string>
		<string>python_main</string>
		<string>3bBc:dEhiJm:OQ:RsStuUvVW:xX?</string>
		<string>file</string>
	</array>
	<key>texlua</key>
	<array>
		<string>libluatex.dylib</string>
		<string>dllluatexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>texluac</key>
	<array>
		<string>libluatex.dylib</string>
		<string>dllluatexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>texsis</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>utf8mex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
	<key>w</key>
	<array>
		<string>shell.framework/shell</string>
		<string>w_main</string>
		<string>dhiflM:N:nsuw</string>
		<string>no</string>
	</array>
	<key>xmltex</key>
	<array>
		<string>libpdftex.dylib</string>
		<string>dllpdftexmain</string>
		<string></string>
		<string>file</string>
	</array>
</dict>
</plist>
