/* FiraCode */

@font-face {
  font-family: 'Fira Code';
  src: url('Fonts/FiraCode.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('Fonts/FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Menlo */

@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo-Italic-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo-Bold-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo-Bold-Italic-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Roboto Mono */

@font-face {
  font-family: 'Roboto Mono';
  src: url('Fonts/Menlo-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('Fonts/Roboto-Mono-Italic-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('Fonts/Roboto-Mono-Bold-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('Fonts/Roboto-Mono-Bold-Italic-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Source Code Pro */

@font-face {
  font-family: 'Source Code Pro';
  src: url('Fonts/Source-Code-Pro-for-Powerline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('Fonts/Source-Code-Pro-Italic-for-Powerline.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('Fonts/Source-Code-Pro-Bold-for-Powerline.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('Fonts/Source-Code-Pro-Bold-Italic-for-Powerline.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

span.emoji {
  -webkit-text-size-adjust: 90%;
  vertical-align: top;
}
