/* DejaVu Sans Mono */

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('Fonts/DejaVu-Sans-Mono-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('Fonts/DejaVu-Sans-Mono-Oblique-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('Fonts/DejaVu-Sans-Mono-Bold-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Mono';
  src: url('Fonts/DejaVu-Sans-Mono-Bold-Oblique-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


/* FiraCode */

@font-face {
  font-family: 'Fira Code';
  src: url('Fonts/FiraCode-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code';
  src: url('Fonts/FiraCode-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* FiraCode Nerd Font */

@font-face {
  font-family: 'Fira Code Nerd Font';
  src: url('Fonts/NF-FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Code Nerd Font';
  src: url('Fonts/NF-FiraCode-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* Menlo */

@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo-Italic-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo-Bold-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo-Bold-Italic-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Iosevka */

@font-face {
  font-family: 'Iosevka';
  src: url('Fonts/iosevka-regular.ttf') format('truetype');
  font-weight: normal;  
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('Fonts/iosevka-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Iosevka';
  src: url('Fonts/iosevka-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka';
  src: url('Fonts/iosevka-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* JetBrains Mono */

@font-face {
  font-family: 'JetBrains Mono';
  src: url('Fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('Fonts/JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('Fonts/JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('Fonts/JetBrainsMono-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* JetBrains Mono Nerd Font */

@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('Fonts/NF-JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('Fonts/NF-JetBrainsMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('Fonts/NF-JetBrainsMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains Mono Nerd Font';
  src: url('Fonts/NF-JetBrainsMono-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Victor Mono Nerd Font */

@font-face {
  font-family: 'Victor Mono Nerd Font';
  src: url('Fonts/NF-Victor-Mono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Victor Mono Nerd Font';
  src: url('Fonts/NF-Victor-Mono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Victor Mono Nerd Font';
  src: url('Fonts/NF-Victor-Mono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Victor Mono Nerd Font';
  src: url('Fonts/NF-Victor-Mono-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Iosevka Nerd Font */

@font-face {
  font-family: 'Iosevka Nerd Font';
  src: url('Fonts/nf-iosevka-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka Nerd Font';
  src: url('Fonts/nf-iosevka-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Iosevka Nerd Font';
  src: url('Fonts/nf-iosevka-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Iosevka Nerd Font';
  src: url('Fonts/nf-iosevka-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}


/* Roboto Mono */

@font-face {
  font-family: 'Roboto Mono';
  src: url('Fonts/Roboto-Mono-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('Fonts/Roboto-Mono-Italic-for-Powerline.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('Fonts/Roboto-Mono-Bold-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Mono';
  src: url('Fonts/Roboto-Mono-Bold-Italic-for-Powerline.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Source Code Pro */

@font-face {
  font-family: 'Source Code Pro';
  src: url('Fonts/Source-Code-Pro-for-Powerline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('Fonts/Source-Code-Pro-Italic-for-Powerline.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('Fonts/Source-Code-Pro-Bold-for-Powerline.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('Fonts/Source-Code-Pro-Bold-Italic-for-Powerline.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

span.emoji {
  -webkit-text-size-adjust: 90%;
  vertical-align: top;
}
