@font-face {
    font-family: 'Fira Code';
    src: local('FiraCode-Light'), url('FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('FiraCode-Regular'), url('FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('FiraCode-Bold'), url('FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: local('FiraCode-Medium'), url('FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
