<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderActions</key>
		<array>
			<dict>
				<key>NSExtensionFileProviderActionActivationRule</key>
				<string>TRUEPREDICATE</string>
				<key>NSExtensionFileProviderActionIdentifier</key>
				<string>com.mycompany.FileProviderUI.CustomAction</string>
				<key>NSExtensionFileProviderActionName</key>
				<string>Custom Action</string>
			</dict>
		</array>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-actionsui</string>
	</dict>
</dict>
</plist>
