<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Blink</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>DarkAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-app-iphone-60pt</string>
					<string>dark-settings-iphone-29pt</string>
					<string>dark-notification-iphone-20pt</string>
					<string>dark-spotlight-iphone-40pt</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>iPhone-App-60pt</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>DarkAppIcon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>dark-app-ipad-76pt</string>
					<string>dark-settings-ipad-29pt</string>
					<string>dark-notification-ipad-20pt</string>
					<string>dark-spotlight-ipad-40pt</string>
					<string>dark-app-ipad-pro-83.5pt</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>iPhone-App-60pt</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>Blink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
				<string>blinkshell</string>
				<string>${BLINK_MIGRATION_SCHEME}</string>
				<string>vscode</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>blinkshell</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Blink will show current track</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>keyboard</string>
	<key>NSCameraUsageDescription</key>
	<string>to show FaceCam widget</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID with Auto Lock</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow geo command to track coordinates only while blink is running</string>
	<key>NSSiriUsageDescription</key>
	<string>storing commands</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.sh.blink.blinkshell</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Blink</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>MachineStartIntent</string>
		<string>MachineStatusIntent</string>
		<string>MachineStopIntent</string>
		<string>com.blink.cmdline</string>
		<string>com.blink.session</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>main</string>
					<key>UISceneDelegateClassName</key>
					<string>Blink.SceneDelegate</string>
				</dict>
			</array>
			<key>UIWindowSceneSessionRoleExternalDisplay</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>main</string>
					<key>UISceneDelegateClassName</key>
					<string>Blink.SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>public.item</string>
			<key>UTTypeSize320IconFile</key>
			<string>blink</string>
			<key>UTTypeSize64IconFile</key>
			<string>blink</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>all files</string>
			<key>UTTypeIdentifier</key>
			<string>public.item</string>
			<key>UTTypeSize320IconFile</key>
			<string>blink</string>
			<key>UTTypeSize64IconFile</key>
			<string>blink</string>
		</dict>
		<dict>
			<key>UTTypeDescription</key>
			<string>all files</string>
			<key>UTTypeIdentifier</key>
			<string>public.content</string>
			<key>UTTypeSize320IconFile</key>
			<string>blink</string>
			<key>UTTypeSize64IconFile</key>
			<string>blink</string>
		</dict>
	</array>
	<key>WKAppBoundDomains</key>
	<array>
		<string>codesandbox.io</string>
		<string>azureedge.net</string>
		<string>gitpod.io</string>
		<string>github.dev</string>
		<string>github.com</string>
		<string>vsassets.io</string>
		<string>vscode.dev</string>
		<string>vscode-webview.net</string>
	</array>
</dict>
</plist>
