<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceProject</key>
		<string>mtest</string>
		<key>OpenSourceVersion</key>
		<string>1.11</string>
		<key>OpenSourceWebsiteURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/src/usr.sbin/mtest/</string>
		<key>OpenSourceURL</key>
		<string>http://www.freebsd.org/cgi/cvsweb.cgi/~checkout~/src/usr.sbin/mtest/mtest.c?rev=1.11;content-type=text%2Fplain</string>
		<key>OpenSourceSHA1</key>
		<string></string>
		<key>OpenSourceMD5</key>
		<string></string>
		<key>OpenSourceImportDate</key>
		<string>2011-01-13</string>
		<key>OpenSourceLicense</key>
		<string>Other</string>
		<key>OpenSourceLicenseFile</key>
		<string>network_cmds.txt</string>
	</dict>
</array>
</plist>
