name: CI

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: xcode-select
      run: sudo xcode-select -s /Applications/Xcode_12.5.app

    - name: use cache
      id: cache
      uses: actions/cache@v2
      with:
        path: |
          xcfs/.build
          Frameworks/ios_system/xcfs/.build
        key: ${{ runner.os }}-${{ hashFiles('get_frameworks.sh', 'xcfs/Package.swift') }}

    - name: get frameworks
      if: steps.cache.outputs.cache-hit != 'true'
      run: ./get_frameworks.sh

    - name: copy xcconfig
      run: cp template_setup.xcconfig developer_setup.xcconfig

    - name: actual build
      run: set -o pipefail && xcodebuild archive -project Blink.xcodeproj -scheme Blink -sdk iphoneos -configuration Debug clean build IPHONEOS_DEPLOYMENT_TARGET='14.2' CODE_SIGN_IDENTITY='' CODE_SIGNING_REQUIRED=NO CODE_SIGNING_ALLOWED=NO ONLY_ACTIVE_ARCH=NO | tee build.log | xcpretty

    - name: generate unsigned debug ipa
      run: |
        cd ~
        mkdir Payload
        mv ~/Library/Developer/Xcode/Archives/*/*/Products/Applications/Blink.app ~/Payload/
        zip -r Blink.ipa Payload
    - name: upload ipa
      uses: actions/upload-artifact@v2.2.0
      with:
        name: 'BlinkShell'
        path: ~/Blink.ipa
